<div class="gw-layout-bottom" style="height:80px;margin-top:5px;">
	<div id="search_form" class="gw-search" style="width:500px;"></div>
	<div id="location_filter" class="gw-location-filter"></div>
</div>

<div class="gw-layout-main">
	<div id="map_canvas" class="map" style="background:#eee;"></div>
	<div class="gw-logo"></div>
</div>

<div class="gw-layout-right" style="width:230px;margin-bottom:15px;">
	<div id="location_list" class="gw-location-list" style="color:#707070; border-style:none; width:230x;"></div> 
</div>