<div class="infowindow">
<script type="application/javascript">
</script>
    <span class="title">Highlight</span>
    <div class="section">
        <span style="font-weight:bold;" class="type">Tour Eiffel</span>
    </div>
	<div style="width:375px;" class="section">
    	<span class="description">Description</span>
	</div>
	<div style="margin-top:5px;" class="section">
    	<a class="backToButton" href="javascript:YUI.geowidget.Model.managers.zoomManager.zoomToLocations();">Zurück zur Übersicht</a>
	</div>
</div>
