<div class="infowindow">
<script type="application/javascript">
</script>
    <span class="title">Info</span>
    <div class="section">
        <span style="font-weight:bold;" class="type">Tourism Information</span>
        <br/>
        <span class="street">1, Rue de Paris</span>
        <br/>
        <span class="postalCode">75000</span>
        <span class="city">Paris</span>
    </div>
	<div style="margin-top:5px;" class="section">
    	<a class="backToButton" href="javascript:YUI.geowidget.Model.managers.zoomManager.zoomToLocations();">Zurück zur Übersicht</a>
	</div>
</div>
