<div class="item">
    <div style="border-top-style:dotted;border-bottom-style:dotted;border-top-width:1px;border-bottom-width:1px;border-top-color:lightgray;border-bottom-color:lightgray;padding-left:3px;padding-top:5px;padding-bottom:5px;padding-right:5px;">
        <img class="iconImage@src" style="float:left;padding-right:5px;padding-bottom:15px;" src="customers/ias/icon/icon_ias.png" width="15" height="15" />
		<b><span class="type">Tour Eiffel</span></b>
        <br/>
        <span class="icon">Monument</span>
    </div>
</div>
