<div class="infowindow">
    <div class='section'>
        <b>Es gibt mehrere Niederlassungen.</b>
        <br/>
        Bitte w&auml;hlen Sie eine aus.
    </div>
    <div class="section list" style="max-height:200px;overflow:auto;">
    </div>
    <div class="section zoom">
        <a href="javascript:YUI.geowidget.Model.managers.zoomManager.zoomToCluster();"><img style="border-style:none;float:left;padding-right:8px;" src="customers/ias/img/lupe.png" alt="Hineinzoomen" width="15" height="15" />Hineinzoomen</a>
    </div>
</div>
