<div class="infowindow">
    <script type="application/javascript">
a=3;
    </script>
    <span class="title">Anfahrt</span>
    <div class="section">
        <span class="label">Ziel:</span>
        <br/>
        <span class="street">Musterstr. 1</span>
        <br/>
        <span class="postalCode">12345</span>
        <span class="city">Musterstadt</span>
    </div>
    <div class="section">
        <span class="label">Start:</span>
        <br/>
        <input type="text" class="startAddressInput"/>
        <br/>
        <input type="button" value="Route berechnen" class="calcRouteButton"/>
    </div>
</div>