<div class="infowindow">
<script type="application/javascript">
</script>
    <span class="title">Golfplatz</span>
    <div class="section">
        <span style="font-weight:bold;" class="name">Mein Golfplatz</span>
		<br /><span style="" class="street">Am Golfplatz 1</span>
		<br /><span style="" class="postalCode">12345</span>
		<span style="" class="city">Stadt</span>
    </div>
	<div style="width:375px;" class="section">
		Tel: <span class="phone">Telefon</span>
		<br />Fax: <span class="fax">Telefon</span>
    	<br />Mail: <a class="mailto@href" href="#"><span class="email">E-Mail-Adresse</span></a>
		<br />Web: <a class="website@href" href="#" target='_blank'><span class="website">Website</span></a>
	</div>
	<div style="margin-top:5px;" class="section">
    	<a class="backToButton" href="javascript:YUI.geowidget.Model.managers.zoomManager.zoomToLocations();">Zurück zur Übersicht</a>
	</div>
</div>
