<div class="infowindow" style="width:500px;">
    <span class="title">Anfahrt</span>
    <div class="section" style="float:left;">
        Von <b><span class="startAddress"></span></b>
        <br />Nach <b><span class="city"></span>, <span class="endAddress"></span>
				<br /><span class="name"></span></b>
        <br/>Entfernung: <span class="routeDistance"></span> (Gesch&auml;tzte Fahrzeit: <span class="routeDuration"></span>)
    </div>
    <div class="section" style="float: right;">
        <a href="javascript:YUI.geowidget.Model.managers.directionsManager.printRoute();"><img style="border-style:none;margin-right:25px;" src="templates/printer.png" alt="Ausdrucken" width="16" height="16" /></a>
    </div>
    <div style="clear: both;"/>
    <div style="margin-top:10px;" class="section routeTablePlaceholder">
    </div>
</div>
