<div id="search_form" class="gw-search gw-layout-top"></div>

<div id="location_list" class="gw-location-list gw-layout-bottom"></div>

<div class="gw-layout-main">
	<div id="map_canvas" class="map" style="background:#eee;"></div>
	<a class="gw-logo" target="_blank" href="http://www.geowidget.de"></a>
</div>

<div id="location_filter" class="gw-location-filter gw-layout-right" style="width:200px;"></div>

<!--
<div class="gw-layout-right" style="width:150px;">
<div class="gw-layout-bottom" style="height:50px;">
-->

